 body{
    background:#333;
  }
  
  #loading_widget  {
    margin:auto;
    display:inline-block;
    height:300px;
    width:600px;
    display:flex;
    align-items:center;
    justify-content:space-around;
  }
  
  .ball1 {
    background:lightgray;
    min-height:100px;
    min-width:100px;
    border-radius:50%;
    animation: bounce 1s alternate infinite ease-in-out,
      flash 3s alternate infinite ease-in-out;
  }
  .ball2 {
    background:lightgray;
    min-height:100px;
    min-width:100px;
    border-radius:50%;
    animation: bounce 1s .333s alternate infinite ease-in-out,
      flash 3s 1s alternate infinite ease-in-out;
  }
  .ball3 {
    background:lightgray;
    min-height:100px;
    min-width:100px;
    border-radius:50%;
    animation: bounce 1s .666s alternate infinite ease-in-out,
      flash 3s 2s alternate infinite ease-in-out;
  }
  
  @keyframes bounce {
    from{
      position:relative;
      top:-10vh;
    }
    to{
      position:relative;
      top:10vh;
    }
  }
  
  @keyframes flash{
    from{
      background:#fff;
    }
    to{
      background:#444;
    }
  }