<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
<!-- This is the page where you can log-in|log-out. See image "signal-2022..." for hand-drawn diagram (will be updated). -->

<div id="operations container">
	<div id="sign-in">
		<!-- show time and have button for check-in -->
	</div>
	<div id="sign-out">
		<!-- give them a drop-down list to select generic reasons (like checking out, duty recovery, TAD, etc.) -->
		<!--also allow for text input via <input type="textarea"> or similar. -->
	</div>
	<p><b>Testing Content</b></p>
</div>

</body>
</html>