<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../public/stylesheets/login.css">
	<title>Login</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<div class="topnav" id="myTopnav">
		<a href="home.html" class="active">Home</a>
		<a href="admin.html">Admin</a>
		<a href="index.html" class="logout">Logout</a>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		  <i class="fa fa-bars"></i>
		</a>
	  </div>
</head>
<body>
	<span id="time"> </span>
	<!-- This is the login box, make it look like one. -->
	<div id="login box">
		<form>
			<label for="name">Name:</label>
			<input type="text" name="name">
			
			<label for="secret">Password</label>
			<input type="password" name="secret">
		</form>
	</div>

	<script type="text/javascript" async>
		`use strict`
	   var datetime = new Date();
	   console.log(datetime);
	   document.getElementById("time").textContent = datetime; //it will print on html page
	   
	   function refreshTime() {
	   const timeDisplay = document.getElementById("time");
	   const dateString = new Date().toLocaleString();
	   const formattedString = dateString.replace(", ", " - ");
	   timeDisplay.textContent = formattedString;
	   }
	   setInterval(refreshTime, 1000);
   </script>
</body>
</html>