<!DOCTYPE html>
<html lang="EN">
<head>
	<link rel="stylesheet" href="\server\public\stylesheets\login.css">
	<title>Login</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- <div class="topnav" id="myTopnav">
		<a href="home.html" class="active">Home</a>
		<a href="admin.html">Admin</a>
		<a href="index.html" class="logout">Logout</a>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		  <i class="fa fa-bars"></i>
		</a>
	  </div> -->
</head>
<body>

	<ul>
		<li><a href="#Roster">Roster</a></li>
		<li><a href="#Checkin">Check-In</a></li>
		<li style="float:right"><a href="#logout">Logout</a></li>
	</ul>

<span id="time"> </span>
<!-- This is the login box, make it look like one. -->
<div id="login_box">
	<form id="login_form">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" placeholder="Username">
		
		<label for="secret">Password</label>
		<input type="password" name="secret" id="password" placeholder="Password">
		
		<button name="button" id="button">Submit</button>
	</form>
</div>

<script type="text/javascript" async>
	`use strict`
	let datetime = new Date();
	console.log(datetime);
	document.getElementById("time").textContent = datetime.toDateString(); //it will print on html page
	
	function refreshTime() {
		const timeDisplay       = document.getElementById("time");
		const dateString        = new Date().toLocaleString();
		const formattedString   = dateString.replace(", ", " - ");
		timeDisplay.textContent = formattedString;
	}
	
	setInterval(refreshTime, 1000);
	
	document.getElementById("login_form").addEventListener("submit", login, true);
	function login (e) {
		e.preventDefault();
		let vals = e.target.elements;
		fetch("/", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				name: vals.name.value,
				password: vals.password.value
			})
		}).then((res) => {
			window.location.assign(res.url)
		})
	}
</script>
</body>


</html>