<!DOCTYPE html>
<html lang="EN">
<head>
	<title>Roster</title>
	<!-- <link rel="stylesheet" href="./../../public/stylesheets/widget.css"> -->
	<link rel="stylesheet" href="/stylesheets/secondary.css">
</head>
<body>
<!-- Before this table is shown, service will gather the data required  -->

<!-- This is the outline to use for display of the roster, should be pre-rendered at the server. -->
<div id="roster-container">
	<table style="width:50%">
		<tr>
			<th>Rank</th>			
			<th>Last </th>
			<th>First</th>
			<th>Status</th>
			<th>Comment</th>
		</tr>
		<tr>
			<td>LCPL</td>
			<td>Polevoy </td>
			<td>Azaria</td>
			<td>Out</td>
			<td>Eating the moon</td>
		</tr>
		<tr>
			<td>TSGT</td>
			<td>Logan</td>
			<td>Dakota</td>
			<td>IN</td>
			<td>Shop</td>
		</tr>
	</table>
</div>

<!-- Create something to show that data is loading (like one of those spinners). -->
<!-- <div id="loading_widget">
    <div class="ball1"></div>
    <div class="ball2"></div>
    <div class="ball3"></div>
</div> -->

<!-- Put your javascript (for loading widget) in here! may be moved out-file later -->
<script type="text/javascript" async>

</script>

</body>
</html>
