<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Roster</title>
    <!-- <link rel="stylesheet" href="./../../public/stylesheets/widget.css"> -->
    <link rel="stylesheet" href="/stylesheets/secondary.css">
</head>
<body>
<!-- Before this table is shown, service will gather the data required  -->

<!-- This is the outline to use for display of the roster, should be pre-rendered at the server. -->
<div id="roster-container">
    <table style="width:50%">
        <tr>
            <th>Rank</th>
            <th>Last</th>
            <th>First</th>
            <th>Status</th>
            <th>Comment</th>
        </tr>
    </table>
</div>

<script type="text/javascript" async>

    document.getElementById("").addEventListener("submit", checkout, true);

    function checkout(e) {
        e.preventDefault();
        ("/roster", {
            method: "GET",
            headers: {}
        }).then((res) => {
            console.log("Roster GET completed", res.status, res.statusText)
        })
    }

    function fillRoster(data) {
        `
		<tr>
		    <td><a onclick="editUser(data)">Edit</a></td>
			<th>Rank</th>
			<th>Last </th>
			<th>First</th>
			<th>Status</th>
			<th>Comment</th>
		</tr>
		`
    }

    function editUser(user){

    }
</script>

</body>
</html>
